# Godot project specific
.godot

# Work environment stuff
.vscode
*.blend.import
*.blend1
*.blend2
*.blend3

# Python virtual environment
venv/
# SCons
bin/
build/
project/addons/vendor
build_cache/
.sconsign.dblite
*.os
*.so
__pycache__/
compile_commands.json
