# Godot project specific
.godot

# Work environment stuff
.vscode
*.blend1
*.blend2
*.blend3

# Python virtual environment
venv/
# SCons
bin/
build/
project/addons/vendor
build_cache/
.sconsign.dblite
*.os
*.so
__pycache__/
compile_commands.json

# Track jolt binaries
!project/addons/godot-jolt-v0.12.0/linux/*.so
!project/addons/godot-jolt-v0.12.0/windows/*.dll