# Godot project specific
.godot
# Ignore symlinks in project/addons/* for plugins we compile from source
# these should be populated by each developer as they compile from source
#
# !NB: Common addons that are not compiled from source should be added to git
project/addons/debug_draw_3d
godot_debug_draw_3d/addons/libs/*
project/addons/gameplay_cpp
gameplay_cpp/addons/libs/*


# CMake and work environment stuff
**/build/
project/bin/~*.dll
*.blend1
*.blend2
*.blend3

# Python virtual environment
venv/
# SCons
obj/
.sconsign.dblite